.row {
  background-color: #3fb0ac;
  /* align-items: center; */
  text-align: center;
  justify-content: space-between;
}

.col {
  padding-bottom: 50px;
}
.logo {
  width: 100px;
  padding-top: 30px;
}
