.general {
  width: 10%;
  height: 40px;
  color: #9a9c9e;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
}
td {
  border-right: 2px solid #bebdbd;
}
td:last-child {
  border-right: 0;
}
td:first-child {
  text-align: justify;
  text-indent: 43%;
}
@media (max-width: 500px) {
  td:first-child {
    text-align: center;
    text-indent: 0;
  }
}
